#container {
	float: left;
	height: 400px;
	width: 60%;
	background-image: url("capacitor.jpg");
	background-size: cover;
}

#animation {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	background-color: black;
	top: 300px;
	left: 25px;
}